@model CarsListViewModel

@{ 
    foreach (Car car in Model.Cars)
    {
        @Html.Partial("AllCars",car)
    }
}

<main class="container" style=" display: block;">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4"><ya-tr-span data-index="3-0" data-value="Pricing" data-translation="Цены" data-type="trSpan">Цены</ya-tr-span></h1>
        <p class="lead"><ya-tr-span data-index="4-0" data-value="Quickly build an effective pricing table for your potential customers with this Bootstrap example. " data-translation="Быстро создайте эффективную таблицу цен для ваших потенциальных клиентов с помощью этого примера начальной загрузки. " data-type="trSpan" data-selected="false">Быстро создайте эффективную таблицу цен для ваших потенциальных клиентов с помощью этого примера начальной загрузки. </ya-tr-span><ya-tr-span data-index="4-1" data-value="It’s built with default Bootstrap components and utilities with little customization." data-translation="Он построен с использованием стандартных компонентов Bootstrap и утилит с небольшой настройкой." data-type="trSpan">Он построен с использованием стандартных компонентов Bootstrap и утилит с небольшой настройкой.</ya-tr-span></p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 fw-normal"><ya-tr-span data-index="5-0" data-value="Free" data-translation="Бесплатно" data-type="trSpan">Бесплатно</ya-tr-span></h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"><ya-tr-span data-index="6-0" data-value="$0 " data-translation="$0 " data-type="trSpan">$0 </ya-tr-span><small class="text-muted"><ya-tr-span data-index="6-0" data-value="/ mo" data-translation="/ мес" data-type="trSpan">/ мес</ya-tr-span></small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><ya-tr-span data-index="7-0" data-value="10 users included" data-translation="10 пользователей включены" data-type="trSpan">10 пользователей включены</ya-tr-span></li>
                        <li><ya-tr-span data-index="8-0" data-value="2 GB of storage" data-translation="2 ГБ оперативной памяти" data-type="trSpan">2 ГБ оперативной памяти</ya-tr-span></li>
                        <li><ya-tr-span data-index="9-0" data-value="Email support" data-translation="Поддержка по электронной почте" data-type="trSpan">Поддержка по электронной почте</ya-tr-span></li>
                        <li><ya-tr-span data-index="10-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">Доступ к справочному центру</ya-tr-span></li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary"><ya-tr-span data-index="11-0" data-value="Sign up for free" data-translation="Зарегистрируйтесь бесплатно" data-type="trSpan">Зарегистрируйтесь бесплатно</ya-tr-span></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 fw-normal"><ya-tr-span data-index="12-0" data-value="Pro" data-translation="Профессиональный" data-type="trSpan">Профессиональный</ya-tr-span></h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"><ya-tr-span data-index="13-0" data-value="$15 " data-translation="$15 " data-type="trSpan">$15 </ya-tr-span><small class="text-muted"><ya-tr-span data-index="13-0" data-value="/ mo" data-translation="/ мес" data-type="trSpan">/ мес</ya-tr-span></small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><ya-tr-span data-index="14-0" data-value="20 users included" data-translation="20 включенных пользователей" data-type="trSpan">20 включенных пользователей</ya-tr-span></li>
                        <li><ya-tr-span data-index="15-0" data-value="10 GB of storage" data-translation="10 ГБ памяти" data-type="trSpan">10 ГБ памяти</ya-tr-span></li>
                        <li><ya-tr-span data-index="16-0" data-value="Priority email support" data-translation="Приоритетная поддержка по электронной почте" data-type="trSpan">Приоритетная поддержка по электронной почте</ya-tr-span></li>
                        <li><ya-tr-span data-index="17-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">Доступ к справочному центру</ya-tr-span></li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary"><ya-tr-span data-index="18-0" data-value="Get started" data-translation="Начало работы" data-type="trSpan">Начало работы</ya-tr-span></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 fw-normal"><ya-tr-span data-index="19-0" data-value="Enterprise" data-translation="Предприятие" data-type="trSpan">Предприятие</ya-tr-span></h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"><ya-tr-span data-index="20-0" data-value="$29 " data-translation="$29 " data-type="trSpan">$29 </ya-tr-span><small class="text-muted"><ya-tr-span data-index="20-0" data-value="/ mo" data-translation="/ мес" data-type="trSpan">/ мес</ya-tr-span></small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><ya-tr-span data-index="21-0" data-value="30 users included" data-translation="30 пользователей включены" data-type="trSpan">30 пользователей включены</ya-tr-span></li>
                        <li><ya-tr-span data-index="22-0" data-value="15 GB of storage" data-translation="15 ГБ памяти" data-type="trSpan">15 ГБ памяти</ya-tr-span></li>
                        <li><ya-tr-span data-index="23-0" data-value="Phone and email support" data-translation="Поддержка по телефону и электронной почте" data-type="trSpan">Поддержка по телефону и электронной почте</ya-tr-span></li>
                        <li><ya-tr-span data-index="24-0" data-value="Help center access" data-translation="Доступ к справочному центру" data-type="trSpan">Доступ к справочному центру</ya-tr-span></li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary"><ya-tr-span data-index="25-0" data-value="Contact us" data-translation="Контакты" data-type="trSpan">Контакты</ya-tr-span></button>
                </div>
            </div>
        </div>
    </div>
</main>